body {
    background-color: rgba(35, 49, 84, 0.84) !important;
    color: white !important;
    font-family: Georgia, Times, "Times New Roman", serif !important;
}

footer {
/*    background-color: rgba(35, 49, 84, 1) !important;*/
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.button {
    display: flex;
    padding-right: 5px;
    float: right;
}